/*
Primary:#ff1744; 
padding: light #ff616f;
p-dark #c4001d;
Secondary:#76ff03;
s: light #b0ff57;
s-Dark:#32cb00;
*/
body{
 background-color: #ff1744;
}
h1,
h2,
{ 
    text-align: center;
    font-family: font-family: 'Rammetto One', cursive;  
    color: #32cb00;
}
h1{
    font-size: 72px;
    color:#32cb00;
}
li{
    display:inline-block;
}
a{
    font-size: 36px;
    color: #32cb00;
}

/* header */
header li{
margin: 0 10px;
}

header li:first-of-type{
    margin-left: 0;
}

/* footer styles */
footer a{font-size: 64px;
}